body {
  margin: 0;
  padding: 0;
  background-image: url("../img/plush-design-studio-559478-unsplash.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
