.eachCard {
  grid-column-start: 2;
  grid-row-start: 2;
  border: #000 solid 4px;
  border-radius: 10px;
  font-size: 1.5em;
  color: #000;
  background-color: rgba(349, 250, 255, 0.8);
  height: 75%;
}

.start {
  width: 100%;
  display: flex;
  justify-content: center;
}
.startBtn {
  height: 50px;
  width: 30%;
  margin-top: 100px;
}

.startBtn:hover,
.cardBtns:hover {
  background-color: #E4C1AE;
}

h3 {
  text-align: center;
}

.cardBtns {
  margin: 5px;
  height: 40px
}

.allCardBtns {
  text-align: center;
}